body {
    margin: 0;
    padding: 0;
    background-color: burlywood;
}

.container {
    width: 94%;
    margin: auto;
}

.card {
    width: 50%;
    background-color: cornflowerblue;
    margin: auto;
}

.card-header {
    padding: 8px;
    background-color: darkcyan;
    text-align: center;
    color: darkgray;
}

.card-body {
    padding: 10px 15px;
}

.form-group {
    margin-bottom: 12px;
}

.form-control {
    padding: 9px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid black;
}

.btn {
    padding: 12px;
    border-style: none;
    color: #fff;
    background-color: rgb(3, 32, 3);
}

.book-content {
    padding: 15px;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table tr th,
.table tr td {
    border: 1px solid black;
    padding: 7px;
}

i.fa.fa-trash {
    font-size: 20px;
    color: red;
    padding: 7px;
    margin-left: 10px;
}

i.fa.fa-edit {
    font-size: 20px;
    color: rgb(21, 33, 201);
    padding: 7px;
    margin-left: 10px;
}